@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;
@use '../components/card' as *;

.image {
  position: relative;
  width: 300px;
  transform: translateY(100px);
  z-index: 1;

  @include breakpoint(1000px) {
    width: 450px;
    transform: translateY(0);
  }

  &-front {
    $width: 95%;
    position: absolute;
    width: $width;
    top: -130px;
    left: calc(50% - ($width/2));

    @include breakpoint(1000px) {
      transform: translate(0, 50px);
    }
  }

  &-back {
    position: absolute;
    width: 100%;
    top: -180px;

    @include breakpoint(1000px) {
      top: -160px;
    }
  }

  &-box {
    position: relative;
    width: 35%;
    top: -40px;
    left: 0;

    @include breakpoint(1000px) {
      top: 60px;
      left: 20px;
    }
  }
}

.card {
  position: relative;
  padding-top: 100px;
  width: 400px;

  @include breakpoint(1000px) {
    padding-top: 2rem;

    &::before {
      content: '';
      position: absolute;
      width: 200%;
      height: 100%;
      top: 0;
      right: 0;
      border-radius: 30px;
      background: #fff;
      z-index: -1;
    }
  }

  &-title {
    margin: 1.75rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: $veryDarkDesBlue;
    text-align: center;

    @include breakpoint(1000px) {
      text-align: start;
    }
  }
}

.arrow-down {
  width: 12px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: rotate 300ms ease;

  &.active {
    transform: rotate(180deg);
  }
}

.card-faq-section {
  margin-bottom: 1rem;
  border-bottom: 1px solid black;

  .title-group {
    @include flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
      color: $softRed;
    }
  }

  .question-title {
    font-size: 1.05rem;
    font-weight: 400;

    &.bold-title {
      font-weight: 700;
    }
  }

  .answer-text {
    font-size: 1rem;
    height: 0;
    visibility: hidden;
    transition: height 300ms ease, visibility 200ms ease;

    &.open {
      margin-bottom: 1rem;
      visibility: visible;
    }
  }
}
