@use './global' as *;

.box {
  border-radius: 25px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 5px 15px $desaturated-blue;
}

main {
  padding: 1.25rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1,
  h2 {
    color: $dark-blue;
    margin-bottom: 0.5rem;
  }

  p {
    color: $desaturated-blue;
  }

  .cancel-order {
    text-decoration: none;
    color: $desaturated-blue;
    font-weight: $weight-700;
    transition: color 300ms ease;
  }

  .cancel-order:hover {
    color: $dark-blue;
  }

  .title {
    width: 78%;
    text-align: center;
    line-height: 2;

    h1 {
      font-weight: $weight-900;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .order {
    width: 100%;
    padding: 1.25rem 1rem;
    background-color: $very-pale-blue;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    img {
      width: 20%;
    }

    h2 {
      font-size: 1.1rem;
      font-weight: $weight-900;
    }

    a {
      color: $bright-blue;
      font-weight: $weight-900;
      transition: color 300ms ease;

      &:hover {
        color: $desaturated-blue;
        text-decoration: none;
      }
    }
  }
}

footer {
  padding-bottom: 0.5rem;

  .attribution {
    font-size: 11px;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
