@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-justify {
  display: flex;
  justify-content: center;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

@mixin breakpoint($bp) {
  @media (min-width: $bp) {
    @content;
  }
}
