$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);
// headings, font-weight - 400, 600
$font-headings: 'Poppins', sans-serif;
// body, font-weight - 400
$font-body: 'Open Sans', sans-serif;

@mixin font-body {
  font-family: $font-body;
}

@mixin respond($breakpoint) {
  @if ($breakpoint == medium) {
    @media (min-width: 700px) {
      @content;
    }
  }
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition {
  transition: all 300ms ease;
}

.container {
  width: Min(90%, 380px);
  margin: 0 auto;

  @include respond(medium) {
    width: Min(90%, 900px);
  }
}

button {
  @include font-body;
  @include transition;
  width: 70%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 100px;
  background: #fff;
  color: $violet;
  font-weight: 600;
  // margin-bottom: 3rem;
  cursor: pointer;

  &:hover {
    background: $soft-magenta;
    color: #fff;
  }

  @include respond(medium) {
    width: 40%;
  }
}

i {
  @include transition;
  padding: 0.75rem;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;

  &:hover {
    color: $soft-magenta;
    border-color: $soft-magenta;
  }
}
