*,
*::before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 12px;
}

body {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, #6565e7, #af67e9);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  color: #4a4b5e;
}

main {
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1000px) {
  main {
    padding-top: 0;
    flex-direction: row;
  }
}

.container {
  width: min(90%, 1000px);
  margin: 0 auto;
}

.card {
  padding: 2rem;
  background-color: #fff;
  border-radius: 30px;
}

.image {
  position: relative;
  width: 250px;
  transform: translateY(100px);
  z-index: 1;
}
@media (min-width: 1000px) {
  .image {
    width: 450px;
    transform: translateY(0);
  }
}
.image-front {
  position: absolute;
  width: 95%;
  top: -125px;
  left: 2.5%;
}
@media (min-width: 1000px) {
  .image-front {
    transform: translate(0, 35px);
  }
}
.image-back {
  position: absolute;
  width: 100%;
  top: -180px;
}
@media (min-width: 1000px) {
  .image-back {
    top: -120px;
  }
}
.image-box {
  position: relative;
  width: 35%;
  top: -50px;
  left: 12px;
}
@media (min-width: 1000px) {
  .image-box {
    top: 45px;
    left: 20px;
  }
}

.card {
  position: relative;
  padding-top: 100px;
  display: flex;
  align-items: center;
  width: 330px;
}
@media (min-width: 1000px) {
  .card {
    padding: 5rem 3rem;
    width: 480px;
    height: 500px;
  }
  .card::before {
    content: "";
    position: absolute;
    width: 180%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 30px;
    background: #fff;
    z-index: -1;
  }
}
.card-title {
  margin-bottom: 1.75rem;
  font-size: 2rem;
  font-weight: 700;
  color: #1d1e35;
  text-align: center;
}
@media (min-width: 1000px) {
  .card-title {
    text-align: start;
  }
}

.arrow-down {
  width: 12px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: rotate 300ms ease;
}
.arrow-down.active {
  transform: rotate(180deg);
}

.card-faq-section {
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}
.card-faq-section .title-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.card-faq-section .title-group:hover {
  color: #f47c57;
}
.card-faq-section .question-title {
  font-size: 1.2rem;
  font-weight: 400;
}
.card-faq-section .question-title.bold-title {
  font-weight: 700;
}
.card-faq-section .answer-text {
  font-size: 1rem;
  height: 0;
  visibility: hidden;
  transition: height 300ms ease, visibility 200ms ease;
}
.card-faq-section .answer-text.open {
  margin-bottom: 1rem;
  visibility: visible;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
  color: black;
}
footer .attribution a {
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
