@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

html {
  font-size: 12px;
}

body {
  @include flex;
  padding: 4rem 0;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(0deg, $softBlue, $softViolet);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $fontFamily;
  font-weight: 400;
  color: $veryDarkGrayishBlue;
}

main {
  @include flex;
  padding-top: 50px;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(1000px) {
    padding-top: 0;
    flex-direction: row;
  }
}

.container {
  width: Min(90%, 1000px);
  margin: 0 auto;
}
