// primary text colors
$veryDarkDesBlue: hsl(238, 29%, 16%);
$softRed: hsl(14, 88%, 65%);

// netural text colors
$veryDarkGrayishBlue: hsl(237, 12%, 33%);
$darkGrayishBlue: hsl(240, 5%, 91%);

// background gradient
$softViolet: hsl(273, 75%, 66%);
$softBlue: hsl(240, 73%, 65%);

// font-style, font-weight 400, 700
$fontFamily: 'Kumbh Sans', sans-serif;
