@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.card {
  @include width(400);
  padding: 1.5rem;
  background-color: hsla(0, 0%, 100%, 0.95);
  border-radius: 30px;
  position: relative;
}
